/* ---- Variables de couleur pour thème ---- */
:root{
    --maincolor: #31473A;
    --secondcolor: #7C8363;
    --thirdcolor: #EDF4F2;
    --backgroundcolor2: #004643;
    --backgroundcolor: #abd1c6;
    --textcolor: #f9bc60;
}

@keyframes fadeinandout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

h1 {
    color: var(--backgroundcolor2);
    font-size: 3rem;
    font-weight: 600;
    animation: fadeinandout 2s ease-in-out infinite;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
    
}

.wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--backgroundcolor);
    width: 800px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--backgroundcolor2);
    text-align: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--backgroundcolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr) ;

}

.header__pic {
    text-align: center;
    margin: auto;
    width: 90%;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header__pic:hover {
    /* scale taille par defaut à 1*/
    transform: rotate(1turn);
    transition: 3s;
  }

.header__title {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__text {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--backgroundcolor2);  
    overflow: hidden;
}

.defil {
    display: flex;
    flex-wrap: nowrap;
    color: var(--backgroundcolor2);
    overflow: hidden;    
    border-top: dashed 2px var(--backgroundcolor2);;
    border-bottom: dashed 2px var(--backgroundcolor2);
    padding: 1rem;
}

.txtdefil {
    white-space: nowrap;
    animation: scrollTxt 10s linear infinite;
    text-transform: uppercase;
    font-weight: 700;
    
}

@keyframes scrollTxt {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.column1 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: var(--backgroundcolor);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--backgroundcolor2);
}

.main1 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: var(--backgroundcolor2);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid 3px var(--backgroundcolor);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.main1::before {
    content: '';
    background: var(--backgroundcolor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    transition: 0.6s all ease;
    width: 120%;
    height: 0%;
    z-index: -1;
}

.main1:hover::before {
    height: 180%;
    opacity: 10%;
}


.main2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: var(--backgroundcolor2);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.main2::before {
    content: '';
    background: var(--backgroundcolor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    transition: 0.6s all ease;
    width: 120%;
    height: 0%;
    z-index: -1;
}

.main2:hover::before {
    height: 180%;
    opacity: 10%;
}


.column1 h2 {
    position: relative;
    border: 1px solid var(--backgroundcolor2);
    overflow: hidden;
    transition: 1s all ease;
    z-index: 1;
    padding: 0.5rem;
}

.column1 h2:hover {
    color: var(--backgroundcolor);
}

.column1 h2::before {
    content: '';
    background: var(--backgroundcolor2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s all ease;
    width: 0%;
    height: 100%;
    z-index: -1;
}

.column1 h2:hover::before {
    width: 100%;
}

.barre {
    text-decoration: line-through;
}